body {
    margin: 0;
    padding: 0;
  }
  
  .sidebar {
    width: 200px;
    height: 100vh;
    background-color: #2c3e50;
    color: white;
    padding-top: 20px;
  }
  
  .menu {
    padding: 10px;
    cursor: pointer;
    position: relative;
  }
  
  .menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
   
  }
  
  .menu-icon {
    margin-right: 10px;
  }
  .sidebar .menu li .icon-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .sub-menu {
   /*  display: none; */
    flex-direction: column;
    background-color: #34495e;
    position: absolute;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    top: 0;
    left: 100%;
    width: max-content;
  }
  
  .sub-menu-item {
    margin-bottom: 5px;
    cursor: pointer;
    padding: 8px;
  }
  
  .menu-item.expanded .sub-menu {
    display: flex;
    flex-direction: column; /* Muestra los submenús en columnas */
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 1;
    width: max-content;
  }
  
  .menu-item .arrow {
    transition: transform 0.3s ease;
  }
  
  .menu-item.expanded .arrow {
    transform: rotate(90deg);
  }
  
  
  
  .sub-menu-item:hover {
    background-color: #2c3e50;
  }
